.newDivs {
    border: lightgray solid 0.5px
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    margin: auto;
}

header {
    text-align: center;
}

#black #clear {
    float: left;
}

#red #resize {
    float: right;
}

#wrapper1 {
    width: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
  }

  #wrapper2 {
    width: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
  }

#black {
    background-color: black;
    color: white;
}

#red {
    background-color: rgb(192, 32, 32);
    color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
